
.icon-menu-1:before { content: '\e800'; } /* '' */
.icon-mail-1:before { content: '\e807'; } /* '' */
.icon-cloud:before { content: '\e810'; } /* '' */
.icon-hash:before { content: '\f029'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */